.g_footer {
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
  margin: 0px !important;
  padding: 0 20px !important;
}

.g_icon_column {
  margin: auto !important;
  display: flex !important;
  justify-content: center !important;
}

.letter_square {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cal_row {
  display: flex;
  justify-content: center;
}

.letter_square {
  display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 26px;
margin: 0

}

.cal_main {
  background-image: linear-gradient(to top, #EC6434, rgba(255,0,0,0));
  padding: 25px;
  height: calc(100vh - 66px);

}

.cal_display{
  padding: 10px;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
}

.cal_display > p {
  font-size: 15px;
}


.cal_main_wrap {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.letter_icon {
  transform: rotate(180deg);

}
.cal_col_test {
  max-width: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.cal_display > div {

}

.offer_panel {
  min-height: 150px;
  background-image: linear-gradient(to top, #EC6434, rgba(255,0,0,0));
  /* transform: rotate(180deg); */

}
@-webkit-keyframes effect-animation {
    from {
      -webkit-transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
      opacity: 0;
    }
}
