.g_footer {
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
  margin: 0px !important;
  padding: 0 20px !important;
  font-family: 'IBM Plex Sans', sans-serif;

}

.g_icon_column {
  margin: auto !important;
  display: flex !important;
  justify-content: center !important;
}

.letter_square {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.cal_row {
  display: flex;
  justify-content: center;
}

.letter_square {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  margin: 0

}

.letter_square:active {
  -webkit-animation: effect-animation 2s;
}

.cal_main {
  background-image: linear-gradient(to top, #EC6434, #e89476);
  padding: 25px;
  height: calc(100vh - 66px);

}

.cal_main_openOffer {
  height: calc(100vh - 214px);

}

.cal_main_openOffer_reverse {
  transform: rotate(180deg);

}

.cal_display{
  padding: 10px;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
}

.cal_display > p {
  font-size: 15px;
}


.cal_main_wrap {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.letter_icon {
  transform: rotate(180deg);

}
.cal_col_test {
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cal_display > div {

}

.offer_panel {
  min-height: 150px;
  background-image: linear-gradient(to top, #EC6434, #e89476);
  transform: rotate(180deg);
}

.offer_panel_reverse {
  min-height: 150px;
  background-image: linear-gradient(to top, #EC6434, #e89476);
  transform: rotate(0);
}

.client_view_price {
  font-size: 30px;
  color: white;
}

.client_view_price_small {
  font-size: 12px;
}

.offer_inner {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

}

.group_button{
  display: flex;
  width: 150px;
  justify-content: space-around;
}
@-webkit-keyframes effect-animation {
    from {
      -webkit-transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(2);
      opacity: 0;
    }
}


.locItem:hover{
  /* background-color: lightblue; */
}

.footerDiv{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 62px;
  background-color: white;

}
.clickableIcon{
  cursor: pointer
}


.reverseOffer-view {
  display: flex;
  flex-direction: column-reverse;
}

.an_c_ca {
  -webkit-animation: effect-typing-animation 10s;
}


@-webkit-keyframes effect-typing-animation {
    from {
      border: 3px solid red;

    }
    to {
      border: none;

    }
}
